* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px dotted grey;
}

header {
    height: 40px;
    min-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section {
    display: flex;
}

.left-section .logo {
    width: 200px;
}

.left-section nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section nav a {
    min-width: 100px;
}

.phone {
    width: 200px;
    text-align: right;
}

.phone::before {
    width: 20px;
    height: 20px;
    content: "@";
    margin-right: 5px;
}

section {
    display: flex;
}

article {
    border: 2px solid red;
    border-radius: 10px;
    padding: 20px;
  
    display: flex;
    align-items: left;
    flex-direction: column;

}

.numar {
    width: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    border: solid #3234a8 3px;
    border-radius: 50%;
    background-color: #3234a8;
    color: white;
}

h2 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}